<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slot button_Menu option BKG.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{274,280}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{274,280}}</string>
        <key>sourceSize</key>
        <string>{280,285}</string>
      </dict>
      <key>slot_Game Rules hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,4},{313,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,75}}</string>
        <key>sourceSize</key>
        <string>{313,75}</string>
      </dict>
      <key>slot_Bet History hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,87},{297,75}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{297,75}}</string>
        <key>sourceSize</key>
        <string>{299,75}</string>
      </dict>
      <key>slot button_Auto Play.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,170},{284,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,67}}</string>
        <key>sourceSize</key>
        <string>{284,67}</string>
      </dict>
      <key>slot_Game Rules select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,245},{300,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,60}}</string>
        <key>sourceSize</key>
        <string>{300,60}</string>
      </dict>
      <key>slot_Game Rules.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,313},{300,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,60}}</string>
        <key>sourceSize</key>
        <string>{300,60}</string>
      </dict>
      <key>slot_Bet History select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,313},{284,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,61}}</string>
        <key>sourceSize</key>
        <string>{284,61}</string>
      </dict>
      <key>slot_Bet History.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,381},{284,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,60}}</string>
        <key>sourceSize</key>
        <string>{284,60}</string>
      </dict>
      <key>slot_Turbo Spin hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,382},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Stop hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,382},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Descrease hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,449},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Spin hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,449},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Auto Spin hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,87},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Increase hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,382},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Information hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,215},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Menu hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,510},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Sound on hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,577},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Sound mute hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,577},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>slot_Number box.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,638},{202,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,68}}</string>
        <key>sourceSize</key>
        <string>{202,68}</string>
      </dict>
      <key>slot_Loading.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,510},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Descrease select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,623},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Descrease.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,510},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Spin select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,623},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Stop.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,510},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Turbo Spin on press.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,623},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Auto Spin select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,4},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Increase select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,343},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Increase.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,456},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Information .png.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,117},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Auto Spin.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,230},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Information select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,705},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Sound on.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,705},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Sound on select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,714},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Menu .png.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,714},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Stop Select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,736},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Turbo Spin select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,736},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Menu select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,736},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Sound mute.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,4},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Sound mute select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,343},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Turbo Spin .png.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,736},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Spin.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,569},{105,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_Menu option BKG.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,456},{93,98}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{93,98}}</string>
        <key>sourceSize</key>
        <string>{100,104}</string>
      </dict>
      <key>slot_Turbo Spin off press.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,117},{93,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{93,93}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>slot_ON button hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,818},{120,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,70}}</string>
        <key>sourceSize</key>
        <string>{120,70}</string>
      </dict>
      <key>ButtonSmallRound.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,827},{128,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,65}}</string>
        <key>sourceSize</key>
        <string>{128,65}</string>
      </dict>
      <key>Button_Small_A.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,827},{128,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,65}}</string>
        <key>sourceSize</key>
        <string>{128,65}</string>
      </dict>
      <key>slot_OFF button hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,849},{119,70}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,70}}</string>
        <key>sourceSize</key>
        <string>{120,70}</string>
      </dict>
      <key>slot_Add hover.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,218},{87,88}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{87,88}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>slot_Minus hover.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,896},{87,88}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{87,88}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>100_spin_hover.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,900},{79,81}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,0},{79,81}}</string>
        <key>sourceSize</key>
        <string>{128,82}</string>
      </dict>
      <key>slot_OFF button.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,900},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>slot_ON button.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,966},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>slot_OFF button select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,927},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>slot_ON button select.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,927},{105,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,58}}</string>
        <key>sourceSize</key>
        <string>{105,58}</string>
      </dict>
      <key>slot_Add normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,4},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{74,74}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>slot_Add select.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,927},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{74,74}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>slot_Minus select.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,849},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{74,74}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>slot_Minus normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,931},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{74,74}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>Up BTN.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,849},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>Close BTN.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,849},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>100_spin.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,921},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>100_spin_disable.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,921},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>slot_Line.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,1013},{306,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{306,3}}</string>
        <key>sourceSize</key>
        <string>{306,3}</string>
      </dict>
      <key>Right Arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,314},{34,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,0},{34,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slot-ui.png</string>
      <key>size</key>
      <string>{944,1028}</string>
      <key>textureFileName</key>
      <string>slot-ui</string>
    </dict>
  </dict>
</plist>
