<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>highlight-long.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{325,700}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{325,700}}</string>
        <key>sourceSize</key>
        <string>{325,700}</string>
      </dict>
      <key>xl.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,4},{250,689}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,689}}</string>
        <key>sourceSize</key>
        <string>{250,689}</string>
      </dict>
      <key>highlight.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,4},{324,287}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,287}}</string>
        <key>sourceSize</key>
        <string>{324,287}</string>
      </dict>
      <key>f_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,336},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>c.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,712},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>c_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,712},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>d.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,701},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>d_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>e.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>e_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>f.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,970},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>a_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,970},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>g.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,959},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>g_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>h.png</key>
      <dict>
        <key>frame</key>
        <string>{{1148,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>h_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{1148,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>a.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>b.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1228},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1228},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>b_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,1217},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>y.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>y_blur.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>symbols.png</string>
      <key>size</key>
      <string>{1402,1482}</string>
      <key>textureFileName</key>
      <string>symbols</string>
    </dict>
  </dict>
</plist>
