<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>100_spin.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{1026,275}}</string>
        <key>offset</key>
        <string>{27,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,27},{1026,275}}</string>
        <key>sourceSize</key>
        <string>{1080,308}</string>
      </dict>
      <key>sensational.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,4},{878,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{878,152}}</string>
        <key>sourceSize</key>
        <string>{878,152}</string>
      </dict>
      <key>white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1924,4},{8,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,8}}</string>
        <key>sourceSize</key>
        <string>{8,8}</string>
      </dict>
      <key>superb.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,164},{542,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{542,149}}</string>
        <key>sourceSize</key>
        <string>{542,149}</string>
      </dict>
      <key>mega.png</key>
      <dict>
        <key>frame</key>
        <string>{{1588,164},{445,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{445,148}}</string>
        <key>sourceSize</key>
        <string>{445,148}</string>
      </dict>
      <key>100-BTN.png</key>
      <dict>
        <key>frame</key>
        <string>{{1588,320},{421,420}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,30},{421,420}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>nice.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,287},{372,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{372,150}}</string>
        <key>sourceSize</key>
        <string>{372,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bigwin.png</string>
      <key>size</key>
      <string>{2037,744}</string>
      <key>textureFileName</key>
      <string>bigwin</string>
    </dict>
  </dict>
</plist>
