<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>x_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,4},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,262},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,520},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,778},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>x_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1036},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>x-symbol.png</string>
      <key>size</key>
      <string>{1290,1290}</string>
      <key>textureFileName</key>
      <string>x-symbol</string>
    </dict>
  </dict>
</plist>
